In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
energy_df = pd.read_csv('energydata.csv')

In [3]:
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
energy_df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [5]:
energy_df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [6]:
energy_df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [7]:
energy_df.shape

(19735, 29)

In [8]:
energy_df.duplicated().any()

False

In [9]:
# dropping the lights column and date column respectively
energy_df.drop(['lights'], axis=1,inplace=True)

energy_df.drop(['date'], axis=1, inplace=True)

In [10]:
energy_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [11]:
# rename columns using dictionary function
column_names = {'T1':'Temperature_kitchen', 'RH_1': 'Humidity_kitchen', 
                'T2':  'Temperature_livingroom', 'RH_2': 'Humidity_livingroom','T3': 'Temperature_laundryroom',
                'RH_3': 'Humidity_laundryroom', 'T4': 'Temperature_officeroom', 
                'RH_4': 'Humidity_officeroom', 'T5' : 'Temperature_bathroom',
                'RH_5': 'Humidity_bathroom', 'T6': 'Temperature_outside', 
                'RH_6' : 'Humidity_outside', 'T7': 'Temperature_ironingroom',
                'RH_7' : 'Humidity_ironinroom', 'T8' : 'Temperature_teenagerroom',
                'RH_8' : 'Humidity_teenagerroom', 'T9' : 'Temperature_parentsroom',
                'RH_9' : 'Humidity_parentsroom', 'To' : 'Temperature_outside',
                'RH_out' : 'Humidity_outside', 'rv1' : 'Random_variable1',
                'rv2' : 'Random variable 2'}

In [12]:
energy_df = energy_df.rename(columns=column_names)

In [13]:
energy_df.head()

,Appliances,Temperature_kitchen,Humidity_kitchen,Temperature_livingroom,Humidity_livingroom,Temperature_laundryroom,Humidity_laundryroom,Temperature_officeroom,Humidity_officeroom,Temperature_bathroom,...,Temperature_parentsroom,Humidity_parentsroom,T_out,Press_mm_hg,Humidity_outside,Windspeed,Visibility,Tdewpoint,Random_variable1,Random variable 2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [14]:
#normalize the dataset using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(energy_df), columns = energy_df.columns)
normalized_df.head()

,Appliances,Temperature_kitchen,Humidity_kitchen,Temperature_livingroom,Humidity_livingroom,Temperature_laundryroom,Humidity_laundryroom,Temperature_officeroom,Humidity_officeroom,Temperature_bathroom,...,Temperature_parentsroom,Humidity_parentsroom,T_out,Press_mm_hg,Humidity_outside,Windspeed,Visibility,Tdewpoint,Random_variable1,Random variable 2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [15]:
#separate the dataset into features and targets variables
features_df = normalized_df.drop(['Appliances'], axis = 1)
Appliance_target = normalized_df['Appliances']
Appliance_target

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [16]:
#Now, we split our dataset into the training and testing dataset. 

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, Appliance_target,
test_size=0.3, random_state=42)

In [17]:
print ({x_train.shape})
print ({x_test.shape})

{(13814, 26)}
{(5921, 26)}

## Answer for Question 12

In [18]:
x1 = np.array(normalized_df['Temperature_livingroom'])
y1 = np.array(normalized_df['Temperature_outside'])
#we need to reshape the x variable because we have only one predictor here
x1 = x1.reshape(-1, 1)
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.3, random_state = 42)

In [20]:
# create the formula for linear regression
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x1_train, y1_train)

LinearRegression()

In [21]:
#predict the model
predicted_values = linear_model.predict(x1_test)
predicted_values

array([0.23928945, 0.46794238, 0.23108472, ..., 0.3001772 , 0.4297256 ,
       0.3217686 ])

In [22]:
# get r2 score
from sklearn.metrics import r2_score
r2 = r2_score(y1_test, predicted_values)
round(r2, 2)

0.64

## Linear Regression Workings

In [23]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train, y_train)
y_pred = reg.predict(x_test)

In [24]:
## Mean Absolute Error(MAE)

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error for linear model: {}'.format(round(mae, 2)))

Mean Absolute Error for linear model: 0.05

In [26]:
## Residual Sum of Squares(RSS)

rss = np.sum(np.square(y_test - y_pred))
print('Residual Sum of Squares for linear model: {}'.format(round(rss, 2)))

Residual Sum of Squares for linear model: 45.35

In [27]:
## Root Mean Squared Error(RMSE)

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error for linear model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for linear model: 0.088

In [28]:
## R_Squared (coefficient of determination)

from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print('R_Squared for linear model: {}'.format(round(r_squared, 2)))

R_Squared for linear model: 0.15

In [29]:
## performing ridge regression at alpha = 0.4

from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 0.4)
ridge.fit(x_train, y_train)
ridge_pred = ridge.predict(x_test)
train_score = ridge.score(x_train, y_train)
test_score = ridge.score(x_test, y_test)
print("Training score of ridge regression model is {:.3f}".format(train_score))
print("Testing score of ridge regression model is {:.3f}".format(test_score))

Training score of ridge regression model is 0.145
Testing score of ridge regression model is 0.149

In [30]:
## lasso model at alpha = 0.001 

from sklearn.linear_model import Lasso
lasso_0001 = Lasso(alpha = 0.001)
lasso_0001.fit(x_train, y_train)
lasso0001_pred = lasso_0001.predict(x_test)
train_score = lasso_0001.score(x_train, y_train)
test_score = lasso_0001.score(x_test, y_test)
print("Training score of lasso regression model is {:.3f}".format(train_score))
print("Testing score of lasso regression model is {:.3f}".format(test_score))
print("Number of features for training: {:.3f}".format(np.sum(lasso_0001.coef_ != 0)))

Training score of lasso regression model is 0.025
Testing score of lasso regression model is 0.027
Number of features for training: 4.000

In [31]:
# find number of non zero weighted lasso features

def weights(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_reg_weights = weights(reg, x_train, 'Linear_model_Weight')
ridge_weights_df = weights(ridge, x_train, 'Ridge_Weight')
lasso_weights_df = weights(lasso_0001, x_train, 'Lasso_weight')
lasso_weights_df

                    Features  Lasso_weight
0           Humidity_outside     -0.049557
1      Humidity_teenagerroom     -0.000110
2        Temperature_kitchen      0.000000
3                  Tdewpoint      0.000000
4                 Visibility      0.000000
5                Press_mm_hg     -0.000000
6                      T_out      0.000000
7       Humidity_parentsroom     -0.000000
8    Temperature_parentsroom     -0.000000
9   Temperature_teenagerroom      0.000000
10       Humidity_ironinroom     -0.000000
11          Random_variable1     -0.000000
12   Temperature_ironingroom     -0.000000
13       Temperature_outside      0.000000
14         Humidity_bathroom      0.000000
15      Temperature_bathroom     -0.000000
16       Humidity_officeroom      0.000000
17    Temperature_officeroom     -0.000000
18      Humidity_laundryroom      0.000000
19   Temperature_laundryroom      0.000000
20       Humidity_livingroom     -0.000000
21    Temperature_livingroom      0.000000
22          Humidity_outside     -0.000000
23         Random variable 2     -0.000000
24                 Windspeed      0.002912
25          Humidity_kitchen      0.017880

In [32]:
# merge weights of the linear and ridge model to the features

final_weights = pd.merge(linear_reg_weights, ridge_weights_df,  on='Features')
final_weights

                    Features  Linear_model_Weight  Ridge_Weight
0        Humidity_livingroom            -0.456698     -0.411071
1                      T_out            -0.321860     -0.262172
2     Temperature_livingroom            -0.236178     -0.201397
3    Temperature_parentsroom            -0.189941     -0.188916
4      Humidity_teenagerroom            -0.157595     -0.156830
5           Humidity_outside            -0.077671     -0.054724
6           Humidity_outside            -0.077671      0.035519
7           Humidity_outside             0.038049     -0.054724
8           Humidity_outside             0.038049      0.035519
9        Humidity_ironinroom            -0.044614     -0.045977
10      Humidity_parentsroom            -0.039800     -0.041367
11      Temperature_bathroom            -0.015657     -0.019853
12       Temperature_kitchen            -0.003281     -0.018406
13          Random_variable1             0.000770      0.000748
14         Random variable 2             0.000770      0.000748
15               Press_mm_hg             0.006839      0.006584
16   Temperature_ironingroom             0.010319      0.010098
17                Visibility             0.012307      0.012076
18         Humidity_bathroom             0.016006      0.016152
19       Humidity_officeroom             0.026386      0.024579
20    Temperature_officeroom             0.028981      0.027384
21                 Windspeed             0.029183      0.030268
22      Humidity_laundryroom             0.096048      0.095135
23  Temperature_teenagerroom             0.101995      0.101028
24                 Tdewpoint             0.117758      0.083128
25       Temperature_outside             0.236425      0.217292
26   Temperature_laundryroom             0.290627      0.288087
27          Humidity_kitchen             0.553547      0.519525

In [33]:
## Root Mean Squared Error(RMSE) for ridge model

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, ridge_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error for ridge model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for ridge model: 0.088

In [34]:
## Root Mean Squared Error(RMSE) for lasso model

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, lasso0001_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error for lasso model: {}'.format(round(rmse, 3)))

Root Mean Squared Error for lasso model: 0.094